# dependencies
node_modules/

# dotenv secret
.env

# Hardhat build & cache
artifacts/
cache/

# TypeChain output
typechain/
typechain-types/

# solidity-coverage files
coverage/
coverage.json

# Hardhat Ignition default folder
ignition/deployments/chain-31337

# Frontend build (React / Vercel etc.)
client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & editor junk
.DS_Store
*.log
